* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: SF-Pro;
  src: local("SF-Pro"),
    url(./fonts/SF-Pro-Display-Regular.otf) format("opentype");
}

@font-face {
  font-family: RobotoMono;
  src: url(./fonts/RobotoMono-ExtraLight.ttf) format("opentype");
}
